.mvbg {
  background-image: url(../../img/home/home__bg.jpg);
  background-size: cover;
  background-position: center; /* Center the image within the element */
  background-repeat: no-repeat;
}

/* player styles starts from here */
.video-player-wrapper {
  position: relative;
}

.quality-icon {
  position: absolute; /* Position icon relative to the player */
  top: 20px; /* Adjust this value as necessary */
  left: 40px; /* Adjust this value as necessary */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white; /* Icon color */
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer; /* Change cursor to pointer on hover */
  z-index: 10; /* Ensure it appears above the player */
}

.quality-selector {
  position: absolute;
  top: 50px; /* Adjust this value as necessary */
  left: 10px; /* Adjust this value as necessary */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  z-index: 10; /* Ensure it appears above the player */
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 5px; /* Space between buttons */
}

.quality-selector button {
  color: white;
  background: none;
  border: 1px solid white; /* White border */
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.3s; /* Smooth background transition */
}

.quality-selector button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Change background on hover */
}

.btnNotActive {
  font-size: 0.7rem;
}
.quality-selector button.active {
  background-color: rgba(255, 255, 255, 0.3); /* Active button background */
}

.download-link {
  position: absolute;
  top: 10px; /* Adjust this value as necessary */
  right: 10px; /* Adjust this value as necessary */
  color: white; /* Link color */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none; /* Remove underline */
}

/* player styles ends here  */

.detailsIMage {
  width: 100% !important;
  height: 353px !important;
}

@media (min-width: 1024px) {
  .detailsIMage {
    width: 100% !important;
    height: 353px !important;
  }
}

/* Tablet (between 768px and 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .detailsIMage {
    width: 100% !important;
    height: 361px !important;
  }
}

/* Mobile (<= 767px) */
@media (max-width: 767px) {
  .detailsIMage {
    width: 100% !important;
    height: 470px !important;
  }
}
