.card__description--details {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.your-element {
  overflow: auto;
  scrollbar-width: 2px; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  height: 180px;
}

.your-element::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.overflowContainer {
  overflow: auto !important;
}

.overflowContainer::-webkit-scrollbar {
  width: 2px; /* 2px width for vertical scrollbar */
  height: 2px; /* 2px height for horizontal scrollbar */
}

.overflowContainer::-webkit-scrollbar-track {
  background: transparent; /* Transparent track background */
}

.overflowContainer::-webkit-scrollbar-thumb {
  background-color: #ff5860; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners */
}

.detailsIMage {
  width: 100% !important;
  height: 353px !important;
}

@media (min-width: 1024px) {
  .detailsIMage {
    width: 100% !important;
    height: 353px !important;
  }
}

/* Tablet (between 768px and 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .detailsIMage {
    width: 100% !important;
    height: 361px !important;
  }
}

/* Mobile (<= 767px) */
@media (max-width: 767px) {
  .detailsIMage {
    width: 100% !important;
    height: 470px !important;
  }
}
